/*header*/
*{
    font-family: Montserrat;
    
}
body{
    width: 100%;
    height: 100%;
    background-color: #F3F5FC;
}
.caixa{
    width: 100%;
    height: 100px;
    background-color: #101a28;
}
.logo{
    display: inline-block;
    position: relative;
    top: 25px;
    left: 30px;
}
button a{
    color: #000000;
    text-decoration: none;
}


/*fim de jogo*/
.remove{
    display: none;
}

.menu{
    display: none;

}

.visible{
    display: block;
}

#text-area{
    text-transform: uppercase;
   
}

/*adicionar texto */

.area-texto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
    
    
        
}

.text-inform{
    display: block;
    font-weight: bold;
    font-size: 35px;
    display: block;
    margin: 0 0px 0 120px;
    width: 50%;
    color: #0A3871;
    padding: 80px 0 0 0;
    
}
#text-area{
    position: relative;
    margin: 0 0 0 110px;
    width: 400px;
    padding:10px;
    top:50px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: #0A3871;
    
    background-color: transparent;
    
}
.color::placeholder {
    color: #db3a3a;
  }
  .color2::placeholder {
    color: #28f365;
  }
.botoesAdd{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    
    
}

/*botao adicionar text*/
.adicionar-text{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0px 0 120px;
    height: 45px;
    background-color: #0A3871;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    border: none;

}

.adicionar-text:hover{
    font-size: 15px;
    background-color: #1d5191;
    transition: all 0.2s;
}

/*botao Iniciar*/
.ancora {
    position: relative;
    text-decoration: none;
    display: inline-block;
    top: 10px;
    left: 120px;
    
}
.iniciar {
    border: none;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 45px;
    background-color: #0A3871;
    font-family: Montserrat;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    
}
.iniciar:hover{
    background-color: #1d5191;
    transition: background-color 0.2s;
}

.iniciar::after {
    content: "";
    display: block;

    width: 0px;
    height: 24px;
    overflow: hidden;
    background-image: url("../imagens/arrow.svg");
    transition: width 200ms, margin-left 200ms;
    
}

.iniciar:is(:hover,:focus)::after{
    width: 24px;
    margin-left: 8px;
    
}

/*style menu*/
.botoes{
    height: 600px;
    width: 100%;
} 
.iniciar-link{
    position: relative;
    text-decoration: none;
    display: contents;
}
.adicionar-link{
    position: relative;
    text-decoration: none;
    display: contents;
}
.adicionar-area, .iniciar-jogo{
    position: relative;
    width: 400px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #0A3871;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    margin: auto;
    top: 100px;
    }
.adicionar-area{
    position: relative;
    top:100px;
    height: 100px;
    font-size: 20px;
    border: none;
    box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.8);
}
.iniciar-jogo{
    top:120px;
    height: 100px;
    font-size: 20px;
    border: none;  
    box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.8);
}

.iniciar-jogo::after {
    content: "";
    display: block;

    width: 0px;
    height: 24px;
    overflow: hidden;
    background-image: url("../imagens/arrow.svg");
    transition: width 200ms, margin-left 200ms;
}

.iniciar-jogo:is(:hover,:focus)::after{
        width: 24px;
        margin-left: 8px;
        
}
.adicionar-area::after {
    content: "";
    display: block;

    width: 0px;
    height: 24px;
    overflow: hidden;
    background-image: url("../imagens/arrow.svg");
    transition: width 200ms, margin-left 200ms;
}
.adicionar-area:is(:hover,:focus)::after{
    width: 24px;
    margin-left: 8px;
}

.iniciar-jogo:hover{
    background-color: #1d5191;
    transition: background-color 0.2s;

}
.adicionar-area:hover{
    background-color: #1d5191;
    transition: background-color 0.2s;
}

/*jogo*/
a{
    text-decoration: none;
    display: contents;
}
.game-botoes{
    height: 100px;
    
}
.voltar,.novo-jogo{
    position: relative;
    width: 400px;
    background-color: #0A3871;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    height: 80px;
    font-size: 20px;
    bottom: 100px;
    
}
.voltar{
    margin: 0 50px 0 330px;
    
}
.voltar:hover{
    background-color: #1d5191;
    font-size: 30px;
    transition: all 0.2s
}

.novo-jogo:hover{
    background-color: #1d5191;
    font-size: 30px;
    transition: all 0.2s
}
/*footer*/
.myfooter{
    background-image: url("../Imagens/footer.png");
    height: 350px;
    text-align: center;
    color: aliceblue;
    
}
.text-footer{
    position: relative;
    font-size: 20px;
    top: 100px;
    font-style: Montserrat;

}
.icons{
    position: relative;
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    top: 130px;
}

.icon{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset,outline-color,background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 4px;
}
.icon:hover i{
    animation: shake .25s;
}
.icon--linkedin:hover{
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon--github:hover{
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake{
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}


@media screen and (max-width: 1200px){ 
    body{
        width: 100%;
    }
  
    #tela{
        width: 100%;
    }
    .game-botoes{
        justify-content: center;
        text-align: center;
    }

    .voltar , .novo-jogo{
        margin: 0 auto;
        top: 10px;
        left: 0px;
    }
    .area-texto,.botoesAdd{
        margin: 0;
        width: 100%;
    }
}




@media screen and (max-width: 540px){
  
    .voltar , .novo-jogo {
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 352px;
        
    }
    .adicionar-area , .iniciar-jogo{
        width: 352px;
    }
    #text-area , .text-inform{
        margin: 0 20px;
    }
    #text-area{
        width: 355px;
        padding: 0;
        margin: 0 0 0 10px;
    }
    
    

}